<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.beaukart"
        versionCode = "10" 
        version     = "1.1.1" >

    <!-- versionCode is optional and Android only -->

    <name>Travelokam</name>

    <description>
       Travelokam Mobile Application for Travel Destinations
    </description>

    <author href="https://travelokam.com" email="info@travelokam.com">
        (Sai Ram) A Vinay Kumar
    </author>

	<access origin="*" />
</widget>
